body {
	margin: 0px;
	padding: 0px;
	font-family: Trebuchet MS, Helvetica, Georgia, Verdana, sans-serif,
		Lucida Grande, Lucida Sans Unicode, Arial;
}

.draggableLandmarks {
	position: inherit;
	float: right;
	padding-left: 1em;
	padding-right: 1.5em;
	padding-top:1em;
}

.resetLandmarks {
	position: relative; 
	top: 650px;
	float: right;
	width: 4em;
}

.droppable {
	width: 800px;
	height: 800px;
	float: left;
	border: 1px solid blue
}

.landmark { 
	cursor: move;
	text-align: center;
	font-size: 9px;
	-moz-border-radius: 15px;
	-khtml-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	z-index: 2;
}

.la{
	background: url("../images/a.png") no-repeat center top transparent;
	width: 20px;
	height: 20px;
}

.lb{
	background: url("../images/b.png") no-repeat center top transparent;
	width: 20px;
	height: 20px;
}

.lc{
	background: url("../images/c.png") no-repeat center top transparent;
	width: 20px;
	height: 20px;
}

.landmark span {
	top: 10px;
	position: relative;
	margin-left:20px;
}

.myDropzone {
	min-height: 150px;
	overflow: auto;
	border: 2px solid rgba(0, 0, 0, 0.3);
	background: #b3e8da;
	padding: 20px 20px;
	margin-top: 30px;
}

.myDropzone:hover {
	border: 2px solid green;
	color: green;
}

.myButton {
	background-color: rgb(30, 144, 255);
	color: white;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	cursor: pointer;
	padding: 10px;
	border: none;
}

.myBigButton {
	background-color: rgb(30, 144, 255);
	color: white;
	width: 400px;
	height: 100px;
	font-size: 30px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	cursor: pointer;
	padding: 10px;
	border: none;
}

.myButtonSmall {
	background-color: rgb(30, 144, 255);
	color: white;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	cursor: pointer;
	padding: 5px;
	border: none;
}

.dz-message {
	color: rgba(0, 0, 0, 0.3);
	font-size: 30px;
	text-align: center;
	margin-top: 57px;
}

#menu {
	white-space: nowrap;
	height: 50px;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;
	background: -webkit-linear-gradient(rgb(30, 144, 255), #2A6BB7);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgb(30, 144, 255), #2A6BB7);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgb(30, 144, 255), #2A6BB7);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(rgb(30, 144, 255), #2A6BB7);
	/* Standard syntax */
	color: white;
	font-size: 32px;
}

#menu div {
	height: 50px;
	float: left;
	cursor: pointer;
	margin: 0px 20px;
	padding: 5px;
}

#menu div:HOVER {
	background: white;
	color: #2A6BB7
}

#descriptionContainer {
	margin-top: 50px;
	background: -webkit-linear-gradient(whitesmoke, white);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(whitesmoke, white);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(whitesmoke, white);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(whitesmoke, white);
	color: DodgerBlue;
	width: 100%;
	height: 770px;
	
}

#descriptionContainer div {
	padding: 20px;
} 

#descriptionContainer table td { 
	font-size: 28px;
	line-height: 40px; 
	padding: 30px;
	text-align: justify;
}

#measurementContainer {
	display: none;
	background: DodgerBlue;
	padding: 10px;
	min-height: 50px;
	padding-top: 60px; 
}

#resultContainer {
	display: none;
	background: lightgreen;
	padding: 10px;
	text-align: center;
}

#canvasContainer {
	background: white;
	width: 100%
}

#console{
	margin-top:40px;
	height:300px;
	background:white;
	text-align: left;
	padding: 10px;
	font-size: 22px;
	overflow: scroll;
}

#MenuEntry2, #MenuEntry3 {
	display: none;
}

#saveData{display:none;}